:root {
  --primary-font: "Roboto", sans-serif;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --primary-saccess-color: #31d0aa;
  --text-color: #434455;
  --saccent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background-color: #2e2f42;
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;
}

body {
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: 16px;
  background-color: var(--white-background-color);
  line-height: 24px;
  letter-spacing: 2%;
}

h1 {
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  font-weight: bold;
}

.third_h {
  font-size: 20px;
  font-weight: medium;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-background-color);
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  text-align: center;
}

.third_hh {
  font-size: 20px;
  font-weight: medium;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-background-color);
  margin: 0 auto;
  margin-bottom: 8px;
  text-align: left;
}

button {
  font-size: 16px;
  letter-spacing: 4%;
  line-height: 24px;
  background-color: var(--primary-brand-color);
  color: var(--white-background-color);
  border: 0px;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: var(--pressed-state-color);
}

.small-text {
  font-size: 12px;
  letter-spacing: 4%;
  line-height: 14px;
}

.medium-text {
  font-size: 16px;
  letter-spacing: 2%;
  line-height: 24px;
  font-weight: medium;
}

.nav-link {
  color: var(--text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--hero-background-color);
  padding: 24px 0 24px;
  margin: 0 auto;
  display: block;
}

.nav-list {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.address-list {
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts {
  font-style: normal;
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.buttons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

ul {
  list-style-type: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  text-decoration: none;
  margin-right: 76px;
}

.foot_logo {
  display: inline-block;

  margin: 0;
  padding: 0;
  margin-bottom: 16px;
}

.logo-part {
  color: var(--modal-overlay);
}

.logo_second {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.p_second {
  color: var(--light-color);
  letter-spacing: 0.02em;
  max-width: 264px;
  margin: 0;
  padding: 0;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding: 24px 0 24px;
  margin: 0;
  display: block;
}

.first-section {
  background-color: var(--hero-background-color);
  padding: 188px 0 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/others/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.second-section {
  padding: 120px 0 120px;
  margin: 0;
}

.third-section {
  padding-bottom: 120px;
}

.hero_h {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero_button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

.hero_button:hover,
.hero_button:focus {
  background-color: var(--pressed-state-color);
}

.p_benefits {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-align: left;
  margin: 0;
  padding: 0;
}

.p_fourth {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.second_h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-background-color);
  font-weight: bold;
  padding: 0;
  margin: 0;
  margin-bottom: 72px;
}

.team_section {
  background-color: #f4f4fd;
  padding: 120px 0 120px;
}

.team_img {
  background-color: #ffffff;
  width: calc ((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.foot {
  background-color: var(--hero-background-color);
  padding: 100px 0 100px;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--primary-brand-color);
  text-decoration: none;
}

.filter-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  cursor: pointer;
  padding: 12px 24px 12px;
  border: 1px solid var(--saccent-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}

.portfolio_p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin: 0;
}

.portfolio_h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-background-color);
  margin: 0;
  margin-bottom: 8px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.div-page-header {
  display: flex;
  padding: 0;
  margin: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits_list {
  display: flex;
  list-style: none;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.benefits-item {
  width: calc((100% - 72px) / 4);
  margin: 0;
  padding: 0;
}
.benefits-card {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.third-list {
  display: flex;
  gap: 24px;
  padding: 0;
  margin: 0;
}

.we-doing-li {
  width: calc((100% - 48px) / 3);
}

.worker {
  padding: 32px 0 32px;
  margin: 0;
}

.portfolio-section {
  padding: 96px 0 120px 0;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  display: flex;
  flex-direction: column;
}

.portfolio-item div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin: 0 auto;
}

.social-block {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
  height: 100%;
}
.social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  background-color: var(--primary-brand-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
}
.social-link:hover {
  background-color: var(--pressed-state-color);
}
.social-link:focus {
  background-color: var(--pressed-state-color);
}

.social-link-svg {
  fill: var(--light-color);
}
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-list {
  display: flex;
  margin: 0 auto;
  gap: 24px;
}

.customers-icon {
  width: calc((100% - 24px * 5) / 6);
}

.customers-link {
  color: #8e8f99;
  width: 168px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-card-icon:hover,
.customers-link:focus {
  color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}

.customers-card-icon {
  fill: currentColor;
}

.footer-social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--primary-brand-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social-icon {
  fill: var(--light-color);
}

.footer-social-icon:hover,
.footer-social-icon:focus {
  background-color: #31d0aa;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--primary-saccess-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.footer-social-list {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 16px;
}
.footer-social-title {
  font-size: 16px;
  color: var(--white-background-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-content {
  margin-right: 120px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-logo {
  margin-right: 120px;
}

.progect-link:hover .project-p-overlay {
  transform: translateY(0);
}

.progect-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.progect-link:focus .project-p-overlay {
  transform: translateY(0);
}

.progect-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-overlay {
  position: relative;
  overflow: hidden;
}
.project-p-overlay {
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  background-color: var(--primary-brand-color);
  height: 100%;
  padding: 40px 32px;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.visit::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -1px;
  left: 0;
  background-color: var(--pressed-state-color);
}
.visit {
  position: relative;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}
.modal {
  width: 408px;
  min-height: 584px;
  background-color: var(--modal-background-color);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-btn {
  border: none;

  background-color: var(--saccent-color);
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  right: 24px;
  top: 24px;
  cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--white-background-color);
}

.modal-btn:hover .modal-content,
.modal-btn:focus .modal-content {
  fill: var(--white-background-color);
}

.modal-content {
  fill: var(--primary-brand-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
